# ─────────────────────────────────────────────
#  F1 Database – Variáveis de Ambiente
#  Copie este arquivo para ".env" e preencha
# ─────────────────────────────────────────────

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=Formula1_2026
